[mysqld]
character-set-server=utf8

#  Slow Query log
#slow_query_log=1
#long_query_time=0.05
#slow_query_log_file="/var/log/mysql/slow.log"

# データとindexをメモリにキャッシュしておく領域のサイズ
innodb_buffer_pool_size=3G

[mysqldump]
default-character-set=utf8

[mysql]
default-character-set=utf8
